[paths]
dotfiles-server  = /home/hg-public/dotfiles-server
dotfiles         = /home/hg-public/dotfiles
hbro             = /home/hg-public/hbro
hbro-contrib     = /home/hg-public/hbro-contrib
imm              = /home/hg-public/imm
there-is-no-rush = /home/hg-public/there-is-no-rush
zmqat            = /home/hg-public/zmqat

[web]
baseurl       =
allow_archive = bz2 gz zip
push_ssl      = false
style         = monoblue
